#header{
    height:30px;
    background-color:#222;
    color:white;
}
#header a{
    text-decoration:none;
    line-height:30px;
    color:white;
}
*{
    margin:0;
}
ul {
    list-style:none;
    text-align:right;
}

li {
    display:inline;
    margin-right:10px;
}

a {
    text-decoration:underline;
    cursor:pointer;
}

#content {
    text-align:center;
}

#codeCommite {
    border:solid 1px #999;
    background-color: #E7E5DC;
    margin:0px auto;
    margin-top:10px;
    width:600px;
    height:600px;
    text-align:center;
}

.CodeMirror-scroll {
    text-align:left;
    height:600px;
}

#btnSubmit {
    margin-top:15px;
    width:120px;
    heigth:30px;
    font:italic bold 13px arial,sans-serif;
}

#vsimg {
    margin-top:200px;
    width:70px;
    heigth:10px;
    font:italic bold 23px arial,sans-serif;
}
#codeLists {
    width:750px;
    margin:0 auto;
}

#list1,#list2 {
    width:280px;
    height:400px;
    margin:30px;
}

#codeLists button {
    float:left;
}

#waitting {
    margin:260px;
}
.left{
    float:left;
}
.clear{
    clear:both;
}

#gamePlay {
    text-align:center;
    margin:8px;
}

#myCanvas {
   margin:auto;
   display:inline-block;
   vertical-align:bottom;
}

#gamePlay ul {
    width:230px;
    height:160px;
    margin:0 10px;
    text-align: left;
    padding:8px;
    background:#bb7954;
    display:inline-block;
    vertical-align:bottom;
}

#gamePlay ul li {
    display:block;
}
#gamePlay img {
    width:60px;
    height:60px;
    display: inline-block;
    vertical-align: middle;
}

#wCent,#bCent {
    font:italic bold 50px arial,sans-serif;
    margin:0 3px;
    display: inline-block;
    vertical-align: middle;
}

#wName,#bName,#wAuthor,#bAuthor {
    font-size: 20px;
    font-weight: bold;
}

#btnPreviousStep,#btnNextStep,#btnStartAutoPlay {
    margin-top:8px;
    width:180px;
    heigth:50px;
    font:italic bold 16px arial,sans-serif;
}