<form method="post" action"new">
    <div>
        <textarea type="text" name="code" cols="60" rows="30"></textarea>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
